---
layout: default
---


<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    <div class="article-post">
    {{content}}

	    <h3><span>Latest Posts</span></h3>

    

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}


    
        

