---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>

            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

            
        </div>
        <!-- End Post -->
<hr />        
<b>More Posts</b>

<hr />
<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/powtitor/" target="_blank">The Surprising Health and Environmental Benefits of Gardening as a Hobby</a></h4>

<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/powtitor/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="381" data-original-width="678" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi-fsJo6RuHuUUKkvLP0QvqPClxlAhWJBTpSC7CwDHZpGm3ceYOeuL6__sxbi92oA7v_2HIDO8yPu12MC2GhCehbPzon2DCetzSRw15a-S23vN8Wiu1vyUPbLWh6Kgiy4m-tKEbmOpwTqBehaRfB4w6ywnaXARJAbuHRHDTLYF7squ1M7Hr0JA7fAnhm_uF/s1600/20240629_095151.jpg"/></a></div>
<hr />
<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/customee/" target="_blank">Enjoying the Gardening Life: A Comprehensive Guide for Beginners</a></h4>


<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/customee/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="414" data-original-width="736" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhbrqg77dy0cgKIaG8BwHWwbjcgXpGskGV9jfJjE9DsIsVzOf-pCO2AnadrVwZ9iEuPQKi4bdUQ0Zl3k6oj8KjXp-l_D8NppSJrXFdkhxMAqb82pZIPvh25-x5TxizuoP4iM5AfQ0j1R15VIm-L3rY7lFPam4jNaqfLxbyVpKELIAaN2LE_K2dCln4EDwwA/s1600/202406t29_074510.jpg"/></a></div>

<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/q1/" target="_blank">Gardening as a Heart-Healthy Activity: Boost Your Cardiovascular Health</a></h4>

<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/q1/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="312" data-original-width="554" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhosE5yQzITeXW1x1iHM1q_gJHbQMaRU-HckEbzmZJAtx4lTlaz52SYF7_e5-LB6hs8gW2TiqkGZzp-2BZE2SEEc58hKJccASRFDjQj1x7LV9FPFpkQEzPWUqRjoosyUdhb8Nlp9_h-gRdhHUALyn1d4q8QHBcwUGPpZtjqKT9gvj_E2MsOSAmpXko7Ruim/s1600/20240630_072030.jpg"/></a></div>
<hr />
<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/fi6d/" target="_blank">Top Physical Health Benefits of Gardening You Need to Know</a></h4>

<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/fi6d/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="381" data-original-width="678" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjyUEGlbogEFGQltf7hKm1Qg-AHboCJsXY3fM30io1OqlsDlaZkQX70xcekDrRr8bRxS1L_oxfxqo03KPCqKNaIQ7cNl7REWB3BexQkwNWBTyDybhaIO24GdGdrZu5DnhXvw7X1L38fGhacJVpkX3JOfe8PwAkLDCDviuJYQm7iAuukwahxDt_UuAnDZVhj/s1600/20240629_201039.jpg"/></a></div>
<hr />
<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/powerfs-markdown-editor/" target="_blank">Why Gardening is the Perfect Exercise for Physical Health</a></h4>

<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/powerfs-markdown-editor/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="410" data-original-width="728" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjH3pL24ejvpyfhwg-GT9hhrR7EUVXZkjwOB33E9QhZVISWWHTSqUoDewltm6L_M3dZVbeJjUp6StBh5hg4fu-esA9lXYxOB3SgGQMlk8qyB-oWxyOkJLvppgIpJq4PLM1nb_frl-NLEiN0GmIOwAG1KrclWx4tgOBitOGnfJcUYf52q5rLcsXszaBNDek9/s1600/20240629_202921.jpg"/></a></div>
<hr />
<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/q2/" target="_blank">Building Muscle Strength with Gardening: A Comprehensive Guide</a></h4>

<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/q2/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="381" data-original-width="678" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgY0mOQcyiYnqSWcvhSwijWsWrv0Mw7NuG1xBuUdaYkYMHJ2KyZfu1Th5psuHjIufISt2elHSkTp6mjg0xNrOn22zP-86X7Pcr5b9ept9PHNVgTy9GpUbjGT3xsM8dxIL6YErrXpD8hMpkWS4j_QQFb8KcnUyQNfMqNUAgN1XwHy5l5ya31n_fYjqLmDwzy/s1600/20240630_093731.jpg"/></a></div>
<hr />
<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/q3/" target="_blank">Enhancing Flexibility and Mobility Through Gardening: Strategies and Benefits</a></h4>

<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/q3/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="381" data-original-width="678" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgYDRtwQp10-FcQmZMbRiix16bR1LeBL4wtuZ6RMbqIP9UtklOCu_6-j0b5i9h9he5rufziIRt1kmh1nXNcU3CxlF2FOdiIt5oW3E3WjciMQ_w1xU6V7ZSQsSisLrweUxkt99e8cuiKUt3QgGXZZGCjTnE_Om-MwDuAX4rz-mt1Du-jujqyZn8h0aloy3Gl/s1600/20240630_101248.jpg"/></a></div>

<hr />
<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/q4/" target="_blank">The Heart-Healthy Benefits of Gardening: Enhancing Cardiovascular Health</a></h4>
<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/q4/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="381" data-original-width="678" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhIm-V99E-Z-Ak3v_xWGfINu20sWA0vwWAckmUyNJARUTFfWkB3hLjP43V4jIJQVSxIqS60GRH7NqLt_cko_Yt00vT0NrMuLH8aLIBsevU5C2QVLu-zubdF21wYkv-M0-E20HoQTVRYgeh9kkykbFWVRyG5G11Wf1G0YWL-F60a6DKaBH7MyUp5anvNYIoM/s1600/20240630_102159.jpg"/></a></div>

<hr />
<h4 style="text-align: left;"><a href="https://www.ingganinggra.my.id/q5/" target="_blank">Top 7 Heart-Healthy Benefits of Gardening</a></h4>

<div class="separator" style="clear: both;"><a href="https://www.ingganinggra.my.id/q5/" style="display: block; padding: 1em 0; text-align: center; "><img alt="" border="0" data-original-height="414" data-original-width="736" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhKh_NXnolsGacC_Ku2VaNmrAbslNjElup2hYmsFTqgsyqx1fhuV8WVyWZ52QwTphOhpfPn4eIidF0jJaDr8vGcTMvpPKagU4h3iX0Gwhma7-19lQdhJB20BOrIUDu1efV_HV6uke4-NgYy6cR-46LlZNqjr2tp8oyBgIIegNDe-l7Mxkh7G8tttGXPUing/s1600/20240630_103057.jpg"/></a></div>










        
    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}
