---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
          
               

{{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">







blade_woman_midnight_rider_
Blade woman
aarjuolee
aarjuolee
Aarju Olee
reju_kushmi
reju_kushmi
Rey G Na
sandhya_rai3.0
sandhya_rai3.0
alizagautam
alizagautam
Aliza Gautam
razbncmanisha
razbncmanisha
Manisha Rajbanshi
rojina_chaudhary_4
rojina_chaudhary_4
Rojinaa Sãrdãr
darsu_thapa_manger
darsu_thapa_manger
priyadarshani8670❤️
aarusiii_kalikote
aarusiii_kalikote
Aarusii🪶
pramilamanger10
pramilamanger10
neha144.___
neha144.___
neha
pujasaikia685
pujasaikia685
puja
supriya_gurung98offical
supriya_gurung98offical
Supriya Gurung
samistha_lamaa
samistha_lamaa
Samistha Lama
onlyporschi
onlyporschi
Orsolya Sogor
malinajoshi11
malinajoshi11
Malina Joshi
yadamyangfo23_
yadamyangfo23_
Yadam 🤍
madeinnepal143
madeinnepal143
madeinnepal
padma_bam
padma_bam
Padma bam
_itzniku1_
_itzniku1_
🌹🌼🌺🦋nikumoni🦋🌹🌼🌺
nodirabegim_kenjaeva
nodirabegim_kenjaeva
Нодирабегим Кенжаева
nampi.camdir
nampi.camdir
Mommy♡
rita_shrestha1234
rita_shrestha1234
Rita Shrestha
filmygyan
filmygyan
F I L M Y G Y A N
limboo_samjhana
limboo_samjhana
Limbu Samjhana
virat.kohli
virat.kohli
Virat Kohli
muskan_singh.9090
muskan_singh.9090
rewa.rai.908
rewa.rai.908
Rewa Rai
bebe_mayanglambam
bebe_mayanglambam
BeBe M
tamangtiktok124
tamangtiktok124
TAMANG TIKTOK
chetana_kirin
chetana_kirin
Chetana K. Garbuja
magaarnii83
magaarnii83
Dhan Maya Magar
kopilachand
kopilachand
kopilachand
manisha_queen_official01
manisha_queen_official01
Manisha queen
bhojpuri_babu_2.0
bhojpuri_babu_2.0
Sahani Babu
blackspoonvv
blackspoonvv
우성
sabinhina
sabinhina
Hina Sabin
adiksha_tamang
adiksha_tamang
Pakhrinz ADik-sha
vibe_with_yangsal
vibe_with_yangsal
):
d_rong12
d_rong12
Pema🪐
garima_panta
garima_panta
Garima Panta
cool_boyy70
cool_boyy70
cool boyy
nisha119___
nisha119___
Nissha 😍
gazal_thapa
gazal_thapa
Gazal ;)
roshna.shrestha123
roshna.shrestha123
Roshna Lama Shrestha
yuzinrai_1
yuzinrai_1
Chhangchha Rai YR
saya_tmg15
saya_tmg15
Xuisumeh Tmg
smita_newar__2001
smita_newar__2001
Smita Newar
maya2023913
maya2023913
Maya
veer_hanuman54
veer_hanuman54
Vikash yadav
krishala_shrestha
krishala_shrestha
A1sinceDay1🌹
meri_maa_bhawani
meri_maa_bhawani
मेरी माँ भवानी 🔱🔱🔱
prena.pradhan.566
prena.pradhan.566
Prena Pradhan
deshy.baby
deshy.baby
Deshy Baby
soo_neypariyar63
soo_neypariyar63
So Ne Ey Pariyar
crypto_investing_x
crypto_investing_x
Hd_zone
itsjenniemalabat
itsjenniemalabat
Jennie Malabat
nepaltiktok
nepaltiktok
Tiktok Nepal🇳🇵
karkiranjeeta88
karkiranjeeta88
Ranjita Karki
spleesaa
spleesaa
LeeSaa SP
tulsimagar20_
tulsimagar20_
Tulasi thapa magar
mis_sushma_keerati
mis_sushma_keerati
मिस किराँती सुश्मा जि
megha_lal_yadav
megha_lal_yadav
Lal Megha Yadav
raijaslyn
raijaslyn
jas ly n Rai
pujalama____
pujalama____
Puja Lama
kajal_sahani_055
kajal_sahani_055
monika_patel_64
monika_patel_64
मोनिका ♥️
reena_yonzan
reena_yonzan
Reena Yonzan
tarashreeee
tarashreeee
Tara💫
shariesales
shariesales
sharie
khloekardashian
khloekardashian
Khloé Kardashian
raaassshhh__
raaassshhh__
RaSh💎
swapnali_deka_07
swapnali_deka_07
Princy Youshi Deka
_lyzaa.aa
_lyzaa.aa
Leeza Saikia
umamagar6
umamagar6
Uma Magar
prinsika_shankar
prinsika_shankar
Prinsika Shankar
su_shil_2373
su_shil_2373
Sushil Singh
ent_videos
ent_videos
Entertainment Videos
wolfmeme_official
wolfmeme_official
Wolfmeme™! Gags Unlimited
jacquelienefernandez
jacquelienefernandez
Jacqueliene Fernandez
risha_debbarmard
risha_debbarmard
🌺rishu
__toraly__hansepy__
__toraly__hansepy__
Torali Hansepy
sharmilananu12
sharmilananu12
Shar Mila
sushmiitagc
sushmiitagc
Sushmita GC
itstaylorhenries
itstaylorhenries
Taylor💕
malwablock_pb91
malwablock_pb91
ᴍᴀʟᴡᴀ ʙʟᴏᴄᴋ
pranishaa_oli
pranishaa_oli
प्रनिशा ओली
pujathapa246
pujathapa246
Puja Thapa Magar
rakshaa_subedi_31
rakshaa_subedi_31
Rakshaa_chettri🦋
hamro.nepal.ma
hamro.nepal.ma
Hamro Nepal Ma
meli_nah_24
meli_nah_24
Meleenah Chhetri
doma_park
doma_park
Doma Sherpa
shyamthapa3137
shyamthapa3137
Shyam Thapa
goma.karki16
goma.karki16
Goma Karki
sudarshika_rai
sudarshika_rai
सुदर्शीका राई
mr.khamcha
mr.khamcha
Mr.Khamcha
cristiano
cristiano
Cristiano Ronaldo
sirjsna_tamang
sirjsna_tamang
Sirjana Moktan
sark.dipa
sark.dipa
Dipa sarkar
soniya_rajyalaxmi_shahi
soniya_rajyalaxmi_shahi
Soniya RL Shahi
jerryna_mili
jerryna_mili
jerryna mili
iamarvinsantos
iamarvinsantos
Iamarvinsantos Santos
suhana____thapa
suhana____thapa
suhana Thapa
rinchindinglow
rinchindinglow
Rinchin Dema
sweetymaying
sweetymaying
sweety maying
lealey_debbarma_official
lealey_debbarma_official
Li Li Devrma🧿
sinchi2323
sinchi2323
Sinchita Bhowmick
durgagurung3937
durgagurung3937
Durga P Gurunx
breyonalama
breyonalama
Breyona Lama
alizaanongpluh
alizaanongpluh
Alizaa Nongpluh
firdausomar70
firdausomar70
sk omar faruk 🤘
yahmu_magar200029
yahmu_magar200029
yamido🦋
tamanzs
tamanzs
Tamanz Suraz
rabinabasumatary
rabinabasumatary
Rabina Basumatary
divya_batra_sharma
divya_batra_sharma
Divya Batra
iamwellngooddddd__
iamwellngooddddd__
Aarohi Adhikari
binisha_338
binisha_338
binishahaha__🏳️
nickiminaj
nickiminaj
Barbie
susmapariyar2002
susmapariyar2002
Susma Pariyar
bgmid009
bgmid009
gurmani.sb
gurmani.sb
Nouman Khan
priyankashrestha14
priyankashrestha14
Priyanka Shrestha
punamtamang91
punamtamang91
punam tamang
sunita_khadaka
sunita_khadaka
Sunita Khadka
roshan_neupane12
roshan_neupane12
Roshan Neupane
tammyhembrow
tammyhembrow
Tammy 🐚
amwajrotanahotel
amwajrotanahotel
Amwaj Rotana Jumeirah Beach
riday07_the_black_rider
riday07_the_black_rider
Riday Barman
krina9711
krina9711
renatalintia
renatalintia
Indonesian beauty
rajbanshi_smritiii
rajbanshi_smritiii
smritiii
molly.reels1
molly.reels1
Brianna britt🧚🏼‍♀️
geenakhaling
geenakhaling
Geena khaling Rai
northeastone
northeastone
NorthEast One
deaukimgr
deaukimgr
सन्ध्या राई
nepali_thau
nepali_thau
NEPALI THAU | Travel | Food | Explore
shikha_chhetri.1
shikha_chhetri.1
Shikhu🥀✨
anikaofficialaccount
anikaofficialaccount
Anika official account
lovely_kumari210
lovely_kumari210
Lovely Kumari
motivation_success5.2
motivation_success5.2
Motivational | success | shayri
sonii_____99
sonii_____99
Soni_tmg❤️‍🩹
ilovekimberlyg
ilovekimberlyg
Kimberly Gonzalez
aryaa_muskan09
aryaa_muskan09
muskan🖤
leelu_7
leelu_7
Shohe/Tamang
jaya_mukhia_
jaya_mukhia_
Jaya mukhia🇮🇳
earth.brains
earth.brains
Earth.brains
prashamsha12
prashamsha12
Prashamsha💯
its_grimisha_rai
its_grimisha_rai
Grimisha Rai
jumchakdini24
jumchakdini24
Jumchak Dini
mona_thangjam__
mona_thangjam__
Mona Thangjam
aura_glz
aura_glz
Aura❤️‍🔥
kritikakatuwal
kritikakatuwal
Kritika
vaishu_kaur_
vaishu_kaur_
VANSHIKA KAUR
sashapieterse
sashapieterse
Sasha Pieterse Sheaffer
avenueskhabar
avenueskhabar
Avenues Khabar
huri_lilyy
huri_lilyy
Huri Lily
parika_lama
parika_lama
parika yonzon
yonzan_muna
yonzan_muna
Muna Yonzan
jalirai.05
jalirai.05
Shuvanjali Chamling Rai
bhintuna_joshi
bhintuna_joshi
Bhintuna Joshi
sabinpakhrin
sabinpakhrin
Sabin Pakhrin Tamang
yura_mali
yura_mali
a.par.na
zorinpuii._khiangte
zorinpuii._khiangte
poudyal___25
poudyal___25
ChETtrI-25
ujwalmrf11
ujwalmrf11
UJ KC
dark_killua_006
dark_killua_006
Vicky Panjarphor
deboraassis47
deboraassis47
Débora Assis
khadgi.samita
khadgi.samita
Samita Khadgi
enoughhh_cartoon
enoughhh_cartoon
Shalu
hhhmamsm
hhhmamsm
Hhh
feartoloseesports
feartoloseesports
FearToLose Esports
paparazziculture
paparazziculture
The Pap Culture
adhikari_aarzoo
adhikari_aarzoo
AarZoo Adhikari
jeremias_oliveira9
jeremias_oliveira9
Jeremias Oliveira
__all_bodo_girls________100k
__all_bodo_girls________100k
ALL_BODO_GIRLS___100k
deepika.chaudhary.33886305
deepika.chaudhary.33886305
Deepika Chaudhary
maya___ningthoujam
maya___ningthoujam
ꯃꯥꯌꯥ❣️
ada_ms447
ada_ms447
joy Adams
vijay.lama.9041083
vijay.lama.9041083
Vijay Lama
smarika_565
smarika_565
Smarika Dahal
tenzin.wangmu.9041
tenzin.wangmu.9041
Tenzin Wangmu
stha200
stha200
Newarni Muyia
samekshya_dahal
samekshya_dahal
Samekshya Dahal
sonu_niraula
sonu_niraula
SooNu🌸
umseh.kumar.9803
umseh.kumar.9803
Umseh Kumar
priya_karkee
priya_karkee
Priya Karkee
tamu_sunus_girl
tamu_sunus_girl
Sunita Gurung
gurungsapna816
gurungsapna816
Sapanaa Gurung
suzeenthapa1
suzeenthapa1
Suzeen Thapa
yuleitziguerra7
yuleitziguerra7
Yuleitzi Guerra
ha.leighmelaine
ha.leighmelaine
𝓗
factswith_farzi
factswith_farzi
factswith_farzi
geetashrestha953
geetashrestha953
Geeta Shrestha
chettri6397
chettri6397
nisha chettri
muniknunes
muniknunes
Munik Nunes Simão
numa__limboo
numa__limboo
Numa Limboo
sunesh777
sunesh777
Blon Mavirange
theindianhumours
theindianhumours
Theindianhumours
faridah.abdul.902
faridah.abdul.902
Faridah Abdul
sange.chotton_official
sange.chotton_official
A__nu🦋♡
manishapradhan85
manishapradhan85
Manisha Shrestha
yuniktheeng
yuniktheeng
युनिक थीङ तामाङ
tokemakinwa
tokemakinwa
Toke Makinwa
the_hindu_stuff
the_hindu_stuff
The Hindu Stuff
anuroy83711
anuroy83711
Anu Roy
jessicaangelcollection
jessicaangelcollection
Jessica Angel
martha_b0615
martha_b0615
anjali_yadav219
anjali_yadav219
Anjali Arora
invisible_9434
invisible_9434
Neha Slpk Rai
sarah.nouara.official
sarah.nouara.official
Sarah Nouara 󱢏
roshni_dhakal_poudel
roshni_dhakal_poudel
Roshni Dhakal Poudel
sagar.bhava
sagar.bhava
Saagar Sagar
__manisha__xetry__
__manisha__xetry__
Manshuu
autotech.luxury
autotech.luxury
Auto Tech Luxury
theycallme_sma
theycallme_sma
Sma
parmeshwarkripa
parmeshwarkripa
Akash Pandey
chandcollection901
chandcollection901
deepashreeniraula
deepashreeniraula
Dipaa Shree Niraula
dr.rebeccamalla
dr.rebeccamalla
Dr.Rebecca Malla
kihi_sumi
kihi_sumi
KihiSumi💫🦋
sikshya_____
sikshya_____
Sikshya Shrestha
petalsofiris
petalsofiris
Iris Ramos
yangkilepcha_02
yangkilepcha_02
Sikkimese Lepcha Yangki
sijan9799
sijan9799
Sijan Karki
umarhomecreditgmail.com1
umarhomecreditgmail.com1
umarhomecredit@gmail.com
northeastdivaas
northeastdivaas
Northeast Girls
zo_____ro__41
zo_____ro__41
Prasenjit boro
reena.moktan.5
reena.moktan.5
Reena Moktan
koshelicollection
koshelicollection
Apsara Shakya
reya25_
reya25_
👑𝓡𝓮𝔂𝓪👑
heana_basu
heana_basu
Ammy Grace
varun_yukti1111
varun_yukti1111
Varun Yukti🥰🥰
umesh__mahatara
umesh__mahatara
우메서 머허따라
ariati.1
ariati.1
Atii🫶
amira_sharma35
amira_sharma35
𝙰𝙼𝚄🎀
_shrinkhala
_shrinkhala
Shrinkhala khatiwada 🔵
buddha_mindfulness_
buddha_mindfulness_
𝘽𝙪𝙙𝙙𝙝𝙖
popo_singer
popo_singer
Po Po
kc8790
kc8790
KC Bishal
reetu_shukla14
reetu_shukla14
reetu
nepa.l2443
nepa.l2443
manoj_yogen
manoj_yogen
Manoj Yogen Chitrakar
bholenath.shankarnath
bholenath.shankarnath
Om Namah Shivaaye 🕉️
brawlbaes
brawlbaes
baes❤️
joshimanojraj
joshimanojraj
Roshan Khan YX
deepika_rimal
deepika_rimal
Deepika Rimal
muanpuiisailo2
muanpuiisailo2
Em Pee Sailo
akh_u
akh_u
dongmogor
dongmogor
Yøñg Håñg
eddietattoosv
eddietattoosv
Eddie Tattoo🇸🇻
santoshsantosh2883
santoshsantosh2883
Santosh Santosh
birbahadur356
birbahadur356
Bir Bahadur Tamang
ss7411988
ss7411988
santosh shrestha
oyir_oyir
oyir_oyir
Jiya Jìyã T
law_of_attraction_method
law_of_attraction_method
Law of Attraction
yajuphotography
yajuphotography
Yaju Shrestha
f_r_e_e_n_fangirl
f_r_e_e_n_fangirl
Freen tamil fan
yensu1.11
yensu1.11
sarin.gurung.980
sarin.gurung.980
Sarin Gurung🎀
buzmavisinotlarim
buzmavisinotlarim
Buzmavisi
tolulayo1
tolulayo1
toluowatemi@gmail.com
preet__man11
preet__man11
Manpreet🦋
de_mon069
de_mon069
Pra Jal
sandhya_gurung_lama
sandhya_gurung_lama
nike
nike
Nike
cutti_esbabess
cutti_esbabess
mmanishh11
mmanishh11
Manish Sen
blessedson_bj
blessedson_bj
blessedson_bj
nazatasever
nazatasever
Naz Atasever
alizagyrung
alizagyrung
Aliza gyrung
eligreg.regnaa
eligreg.regnaa
𝙇𝘼 𝙂𝙍𝙀𝙂 𝙍𝙀𝙂𝙉𝘼 👑 𝐴𝑟𝑦 🤍✨
sanrocmgr
sanrocmgr
sanroc mgr
mohan_bhandari_789
mohan_bhandari_789
mohan
choti_fatima
choti_fatima
Fatima tu Zahra♥️
strada_clinic
strada_clinic
Strada Dent
paaglii77
paaglii77
মিষ্টি মেয়ে
smirti_rl_singh
smirti_rl_singh
Smrity Singh
amy_bennouna
amy_bennouna
Amy 🤍
gorgeina33
gorgeina33
Giovanna
nepalese_photographer
nepalese_photographer
Nepalese Photographer 🇳🇵
somai____boro
somai____boro
Sōmæï ßørõ
dikshya_pangmi
dikshya_pangmi
Dikshya ♡
mobile_world_029
mobile_world_029
Ds Bhuneshwar
ayodhyawalejaishreeram
ayodhyawalejaishreeram
अयोध्या धाम जय श्री राम
princenishad445511
princenishad445511
Prince Nishad
bala_kharshiing
bala_kharshiing
🌺🌺💕
rohitkumaar9593
rohitkumaar9593
Rohit Kumar
mekhhu_luhunnchha
mekhhu_luhunnchha
फडिन्द्र मेक्खु लुहून्छा
sreeza___r
sreeza___r
radio_dailymail94.6
radio_dailymail94.6
Radio Daily Mail 94.6 Mhz
_krish9876
_krish9876
Sangita Roy
sr_nahar_rj02
sr_nahar_rj02
sr_nahar_rj02
katar_dusad
katar_dusad
SURAJ PASWAN
moroccan_iinsta
moroccan_iinsta
ibtisam aabilou
lupitacardenas201
lupitacardenas201
Katy Diaz
tamangni_syangden11
tamangni_syangden11
Syangden Tamang Nashika
aliabdul2489
aliabdul2489
Ali Abdul Rahman
genevieve_kamlak
genevieve_kamlak
Gene 3🌪️
niroulaluna
niroulaluna
Luna Niroula
andreeaionela659
andreeaionela659
Andreea Ionela
krishnakarki7771
krishnakarki7771
Krishna Karki
zyasmine_desar
zyasmine_desar
Zyas Mine Deshar
gurung.megh
gurung.megh
Megh Gurung
ubindratamang
ubindratamang
Ubindra Tamang
sangitadangi378
sangitadangi378
Sangita Dangi
arabmohandamokrane15
arabmohandamokrane15
Mohand Amokrane
_chea_bea_
_chea_bea_
^Soft.bluedrms^
g4urav.b
g4urav.b
Gaurav Bhandari
suzaan_daii
suzaan_daii
Suzaan
subhekthami
subhekthami
Thami Subheksha
anjukc170
anjukc170
Anju Kc
kailashpatil8097
kailashpatil8097
its_kailash_7542
maxi_notty_badmash
maxi_notty_badmash
maxi_ notty _badmash❣️🥀❣️
kedar.kunwar.31
kedar.kunwar.31
Kedar Kunwar
sattuuu.a
sattuuu.a
Sa Takshi
ushathapa96
ushathapa96
Usha Thapa
angela.adhikari
angela.adhikari
Angela Adhikari
maharjan4328
maharjan4328
Rakesh Maharjan
rupesh_gtm
rupesh_gtm
RuPEsH Gtm (RéminiŠcènt)
__innocent__rohiitt_
__innocent__rohiitt_
Rohit Saini 🏆
crazyaayushcouple
crazyaayushcouple
Aayush Singh Thakuri
bee_grc
bee_grc
Grace 🖤
alisakunwar
alisakunwar
Alisha Kunwar
legit_iphone_online_giveaway
legit_iphone_online_giveaway
anojadineshi
anojadineshi
Anoja Deeneshi
binishaadhikari12
binishaadhikari12
binishaaaa
ever_4r
ever_4r
Ever
_sandiya11
_sandiya11
Sandiya Thapa Bhujel
sth_sangya
sth_sangya
Sang
s_i_n_g_l_e__l_i_f_e__op
s_i_n_g_l_e__l_i_f_e__op
Sibaram Chintey
rockstarnr26
rockstarnr26
Niranjansinghrajbanshi
that.girlz_mamzz_
that.girlz_mamzz_
_they__luv_.
bdrana6208
bdrana6208
Bd Rana
ghishingchand
ghishingchand
Chand Ghishing
fatsehkadi
fatsehkadi
Fatseh Kadi
grg.love
grg.love
Love Ghothane Grg
barbie_doll_onika20
barbie_doll_onika20
Onika Nika
chawngi70
chawngi70
chawngi
suzita_joshi
suzita_joshi
Mrs.Suzita Dinesh Shrestha
prabin6584
prabin6584
Prabin Thapa
all_fashion_nepal
all_fashion_nepal
All fashion nepal
yonjanmahesh
yonjanmahesh
Mahesh Yonjan
sayaal_rl_singh
sayaal_rl_singh
Sayaal RL Singh
theloop_nep
theloop_nep
Thokar Tamang
lamarekha83
lamarekha83
Rekha Lama
anjalikumari01_2
anjalikumari01_2
Haren Pinku
kckanta
kckanta
Kanta Kc
madjidnmn15
madjidnmn15
Namane Madjid
william_10876
william_10876
Kate dora williams
govind.banjara6
govind.banjara6
Govinda Banjara
ksuprima
ksuprima
Suprima Kc



                </div></div></div></span>
                
            </div>

            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

            



            
   

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}

