---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
          
               

{{content}}
<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">
phutri_gemoyy.027
✨ᴅᴇᴅᴇᴇ ԍᴇмoʏʏ✨
aaratialemagar09
aaratialemagar09
Aarati Ale Magar
ji0sii
ji0sii
बिकाश जि०सी
rezalitaintan
rezalitaintan
Intan Gegi
sidmalhotra
sidmalhotra
Sidharth Malhotra
simran_bista11
simran_bista11
Simran
venita_aiyska
venita_aiyska
Venita Aiyska
ganga_jamuna_twins_vlog
ganga_jamuna_twins_vlog
GangaJamuna Sembu
meghna_magar1
meghna_magar1
Dance with Ride
_.mayme._
_.mayme._
𝑻𝒂𝒘𝒉𝒂𝒏 ☾
6700.nidhi
6700.nidhi
nidhi
shristishrestha
shristishrestha
Shristi Shrestha
sabumahato1283
sabumahato1283
Sabina Chaudhary
ambika_tamang01
ambika_tamang01
Ambika tamang
bikram_mvls143
bikram_mvls143
Bikram Bohara
priyankapal3772
priyankapal3772
Priyanka Pal
yogicxx
yogicxx
kunwar.malati
kunwar.malati
kunwar.malati
nishaadhikarimalla
nishaadhikarimalla
Nisha Adhikari Malla
kaja_macho
kaja_macho
Kaja Sonik Zon
aayeshaakhan_officiall
aayeshaakhan_officiall
ayesha khan
_priya_kulung_rai_
_priya_kulung_rai_
@príyã
cherrrryyyyyyy3473
cherrrryyyyyyy3473
Elon
seemsong_vlogs
seemsong_vlogs
Yonjan Seemsong
lavalientedany
lavalientedany
Daniela Grisales
12.12.sm
12.12.sm
🌼
shree_natraj_jewellers
shree_natraj_jewellers
Shree Natraj Jewellers
shantirmagar123
shantirmagar123
Shanti Roka magar❤
rangan.media_
rangan.media_
രംഗണ്ണൻ മീഡിയ
cutesanya639
cutesanya639
Cute Sanya
anjanashrestha9
anjanashrestha9
🅰🅽🅹🅰🅽🅰 🆂🅷🆁🅴🆂🆃🅷🅰
srls_samragyeerlshah
srls_samragyeerlshah
Samragyee rajya laxmi shah
riya_bharti67
riya_bharti67
रिया भारती
usha_khadgi
usha_khadgi
Usha Khadgi
ses_yanti
ses_yanti
Yanti
jeams_o_lord
jeams_o_lord
Ajay Shrestha
tiktoknepalofficial
tiktoknepalofficial
tiktoknepalofficial
supriadhikari
supriadhikari
Suprabha Adhikari
_diyabrahma_
_diyabrahma_
Diya Brahma
arthasarokar
arthasarokar
Artha Sarokar
swity.suman
swity.suman
✨♥️
nepalicontext
nepalicontext
ηєραℓι ¢σηтєχт
diya2599
diya2599
Diya pradhan
analibasow
analibasow
mr who??
_priti_limbu
_priti_limbu
Prity Limbu
shristi.manandhar56
shristi.manandhar56
Shristi🌸🌸🇯🇵❤️
surendra_maharjan12
surendra_maharjan12
Surendra Maharjan
junaofficial7
junaofficial7
Juna Official
_priyankatamang
_priyankatamang
Priyanka Tamang
gurungnaa
gurungnaa
Meera gurung
meeluxxstha
meeluxxstha
Meelux Stha
alisha_rai_official_
alisha_rai_official_
Alisha Rai
bnaalemgr13
bnaalemgr13
B A MaGar
kripa_sresta
kripa_sresta
♡ 𝙆𝙍𝙄𝙋𝘼 𝙎𝙃𝙍𝙀𝙎𝙏𝙃𝘼 ♡
sadikxya66
sadikxya66
Sadikxya Sijapati
call_me_golung
call_me_golung
Jabab Debbarma
reena20__
reena20__
reena
reemajindra
reemajindra
JerrynArviush Marak
kebikakhatri
kebikakhatri
Kebika Khatri🇳🇵
nishu_g.m
nishu_g.m
Nisana G.M(Motu)😍😊
karimbenzema
karimbenzema
Karim Benzema
divya_chamling_17
divya_chamling_17
Divya J Chamling
char_shimray
char_shimray
Yazing Charchar Shimray
srijana_magar_official
srijana_magar_official
Miss सृजना❤️
fatima.sara786
fatima.sara786
Sara Fatima
dayahangrai
dayahangrai
Dayahang Rai
suzzane_moktan
suzzane_moktan
𝓢𝓾𝓼𝓪𝓷 𝓣𝓪𝓶𝓪𝓷𝓰
nirmal_agrawal13
nirmal_agrawal13
Nirmal agrawal
lil_bby_00
lil_bby_00
Mama🌷
mahima_xettri.16
mahima_xettri.16
Mahima Xettri
kajal.___73
kajal.___73
kajal sharma 🥀💖✨
sanjitapandeya
sanjitapandeya
Pandeya Sanjita
namalikha
namalikha
Nama Likha
yuku__
yuku__
Yuku | Yukta
iryannagraceamour
iryannagraceamour
Iryanna Graceamour
rebel_hussain
rebel_hussain
Sabbir Hussain
felibelly
felibelly
Felishya Yusa Tsogyal Lhamo叶美凤
melina__mainali_singer
melina__mainali_singer
Melina Mainali🎵
nehakakkar
nehakakkar
Neha Kakkar
ajelenirame
ajelenirame
Ajele nirame
sweet_cristy_21
sweet_cristy_21
Rupa Chettri
rondo_gemoy
rondo_gemoy
rondogemoy
magicallquotes
magicallquotes
Motivation | Success | Stories
xritu70
xritu70
madhuridixitnene
madhuridixitnene
Madhuri Dixit
roshniwaliaa
roshniwaliaa
Roshni Walia
miss_sumitra_maurati
miss_sumitra_maurati
Sumitra Maurati
aisha_lamaaaaaaa
aisha_lamaaaaaaa
Kalpana Tamang
rajesh.kunwar.3766
rajesh.kunwar.3766
Rajesh Kunwar
liverpoolfc
liverpoolfc
Liverpool Football Club
alisa_kshetri
alisa_kshetri
Alisa Kshetri
pobitasubba
pobitasubba
Kosila Subba✨
garimasharma_official
garimasharma_official
Garima Sharma
bhakti_song_4837
bhakti_song_4837
riya kumari
resugurung1
resugurung1
Resugrg
aaradhyastyle
aaradhyastyle
Aaradhya
sthamanjana
sthamanjana
Manjana Stha
mayapobo7
mayapobo7
Maya_pobo🌸🎀
priyanka_lahri
priyanka_lahri
🌸PriYanka Alee (●'◡'●)🌸
asmishresthaa
asmishresthaa
Asmi Shrestha
saraalikhan95
saraalikhan95
Sara Ali Khan
bollywoodsocietyy
bollywoodsocietyy
Bollywood Society
nono_wangmo
nono_wangmo
NONO WANGMO👑 || #pemkoi gal 🙋🏻‍♀️
aakriti_syangtan
aakriti_syangtan
Aakriti Syangtan
shilpaa_pokhrel
shilpaa_pokhrel
Shilpaa Pokhrel
punamme__
punamme__
Punam Chamling
yoznathakurichhetri
yoznathakurichhetri
Yozna malla thakuri
aakashrana8072
aakashrana8072
Aakash Rana
__caryleen__
__caryleen__
✿♡CARYLEEN MARBAÑIANG✿♡
anuchetrry
anuchetrry
ANu Bohora CheTrry
newar_monis
newar_monis
Manish Shrestha
puzzataman
puzzataman
Puzza Taman
babita_rmagar19
babita_rmagar19
Babina
muskan.lamaa
muskan.lamaa
मुस्कान रूंबा लामा♡
deepikapadukone
deepikapadukone
दीपिका पादुकोण
jsmin_shrestha
jsmin_shrestha
Jasmin shrestha
askenu.tiktokvirall02
askenu.tiktokvirall02
monica_bohara
monica_bohara
Monica Bohara
soniaa_sangma
soniaa_sangma
Sonia D. Sangma
ng_mantini_makat
ng_mantini_makat
_Mantini_🦋
garima.bhatta_
garima.bhatta_
गरिमा_भट्ट
sarismamagar
sarismamagar
Sarishma Magar
shikha_gulati16
shikha_gulati16
Shikha 🧿😇
rosiealemagar
rosiealemagar
Rosie Magar
beyongsanjana
beyongsanjana
Sanjana Beyong
sadikshyapandey11
sadikshyapandey11
Sadikshya Pandey
tutubii_yumnam
tutubii_yumnam
Tutubii Mangang
shweta_khadka7
shweta_khadka7
Shwetakhadka
clarisa.sifaa
clarisa.sifaa
sifaa
namrataashrestha
namrataashrestha
Namrata Shrestha
vijay_malivad__official
vijay_malivad__official
Vijay Malivad official
_putriiiikhecilll
_putriiiikhecilll
putrriiikheciilll
riyaaannnii2_
riyaaannnii2_
𝐑𝐢𝐲𝐚𝐧𝐢
sushmakarkiofficial
sushmakarkiofficial
Sushma Rana Karki
rachushredtha
rachushredtha
Rachana Shrestha
rachana_jmt_
rachana_jmt_
Rachana Jmt
rachana_khadka_
rachana_khadka_
Rachana Khadka
sunnyleone
sunnyleone
Sunny Leone
melinarai_official
melinarai_official
Melina Rai
imnamratasapkota
imnamratasapkota
Namrata Sapkota
sabinabunu0
sabinabunu0
__miss_khaling__
__miss_khaling__
_रबिना राई_🐾
pushparajkhatri
pushparajkhatri
Pushpa Raj Khatri
aiyonkyo21
aiyonkyo21
Kaku Borgohain
santoshdevi3865
santoshdevi3865
Santosh Devi
aashirwadthapa
aashirwadthapa
आशीर्वाद थापा
nikitashrestha921
nikitashrestha921
Nikita
sofik63805
sofik63805
Sofiquel Islam
khusbuchetri20225
khusbuchetri20225
Khusbu Chetry
prabisha_adhikari
prabisha_adhikari
Prabishaa Aadhikari
muskkaannnnn_
muskkaannnnn_
Muskan Khan
kaburajbanshi
kaburajbanshi
Kabu 🌊
xyll22
xyll22
zylle ❤️
siwanjali_bhujel
siwanjali_bhujel
Siwanjali Khawas
myagen_lama
myagen_lama
म्यागेन लामा
aishaa_tamang19
aishaa_tamang19
Aishaa Tamang
ranju_adhi__neupane1
ranju_adhi__neupane1
Ranju Adhikari Neupane
pooja__soni74
pooja__soni74
Pooja Soni
aisha_tamang_2000
aisha_tamang_2000
Ranju Tamang
anantakhanal
anantakhanal
Ananta Khanal
oceanian_hit
oceanian_hit
tropical_vibe
iamkaaji
iamkaaji
KAJAL DUBEY ✨
tokbipi_phui27
tokbipi_phui27
cherish
emi_lee_94
emi_lee_94
Noreyang_lee
nitupmagar
nitupmagar
Nitu P Magar
mayakazumi063087
mayakazumi063087
🌻🌸Kazumi🥀🌺
aanchalsharma_dawadiofficial
aanchalsharma_dawadiofficial
Aanchal Sharma
karishma.dhakal
karishma.dhakal
Karishma Dhakal
deep.kc.7921
deep.kc.7921
Deep Kc
nani__mgr
nani__mgr
Ambika Mogar
pooja_singh_rajpoot700k
pooja_singh_rajpoot700k
Pooja Singh rajput
pooja_rasaily_101
pooja_rasaily_101
Ｐ Ｏ Ｏ Ｊ Ａ Ｒ Ａ Ｓ Ａ Ｉ Ｌ Ｙ ⚡️
victoria17092024
victoria17092024
Victoria luna
anushkasharma
anushkasharma
AnushkaSharma1588
tmz_sngeeta_123
tmz_sngeeta_123
Sngeeta Dmzn
geet_xetry
geet_xetry
Pratima Chhetri (KATWAL)
_amisha_tamang_
_amisha_tamang_
~Amu
aishu.molu
aishu.molu
Aishu Prasad
victo_hijam
victo_hijam
Victoria Hijam
katrinakaif
katrinakaif
Katrina Kaif
kyliejenner
kyliejenner
Kylie
deepakkarki8286
deepakkarki8286
Deepakkarki
kusum_nrh
kusum_nrh
kusum
ritu_vk_rajput_144
ritu_vk_rajput_144
_pratikcha_
_pratikcha_
Pratikcha Dulal Sharma
sunita.thegim
sunita.thegim
Sunita Thegim Limbu
deepa__guragai__
deepa__guragai__
Deepa Chettri
moonnila__
moonnila__
Moon Nila_Official
mzellessarah
mzellessarah
🇸 🇦 🇷 🇦 🇭
voompla
voompla
Voompla
subanimoktan
subanimoktan
Subani Moktan
paremanad_ji_mharaj01
paremanad_ji_mharaj01
paremanad_ji_mharaj
mo1670nika
mo1670nika
Mô Nika
soneha_12
soneha_12
𝕹𝖊𝖍𝖆 𝕾𝖎𝖓𝖌𝖍
priyankachopra
priyankachopra
Priyanka
rekha.thapa
rekha.thapa
Rekha Thapa 33
arpita7622__official
arpita7622__official
Arpita Roy
richathapa7
richathapa7
Richa Thapa💫
aliaabhatt
aliaabhatt
Alia Bhatt 💛
babyariel
babyariel
ariel rebecca
kajal__sahani_055
kajal__sahani_055
eyenattanika
eyenattanika
Eye Nattanika
sundar_shrestha9
sundar_shrestha9
Sundar Shrestha
a_analishaaaaa__
a_analishaaaaa__
Analisha Debbarma
_ishika_kulung_rai
_ishika_kulung_rai
Ishika Rai
official_mo_ni_.ka_s_s_10k
official_mo_ni_.ka_s_s_10k
Hafijur Rahman
sabeenaraey
sabeenaraey
Sabeena Bantawa
shahshristina
shahshristina
Shristina rajya laxmi shah👑
sharmila_gurung23
sharmila_gurung23
sarmila
swastika__pandey
swastika__pandey
Sostika Pandey
ishwara_25_
ishwara_25_
__kashmiri_1
__kashmiri_1
kashmiri 🌊
ramsundar1702
ramsundar1702
Ramsundar singh
me_ira.sharma
me_ira.sharma
Ira Sharma
sumina.tamang_
sumina.tamang_
Sumina Tamang
graceebianca
graceebianca
Bianca Grace
aisahputry43
aisahputry43
sruti1choudhary
sruti1choudhary
Sruti Choudhary
pranishasharmaa_official
pranishasharmaa_official
Pranisha Sharmaa
samten_nornu
samten_nornu
Sàmtêñ Nørbù
snehaa6943
snehaa6943
Sneha Bakli
lekiphassang
lekiphassang
Leki Phassang Khonjuju
anushhkakapoor
anushhkakapoor
Anushka Kapoor
raveenadesrajshrestha
raveenadesrajshrestha
Raveena Desraj Shrestha
harka1916
harka1916
Harka Tamang
muskanmaan873
muskanmaan873
Man Pariyar
amu_g678
amu_g678
Amu💓
thaha_khabar
thaha_khabar
Thaha Khabar
pramilakhaling
pramilakhaling
Pramila Khaling
a_najuliacostela28u
a_najuliacostela28u
AnaJulia costela
indira_joshi
indira_joshi
Indira K Joshi
_rijusharma_
_rijusharma_
____it’smoon🌙
ishaqshaikhg
ishaqshaikhg
Muhammad Ishaq Shaikh
emjay.bird
emjay.bird
Emily “Jaybird” Jones
ongmu.bhutia.562329
ongmu.bhutia.562329
Miss Ongmu
angelfrsca2
angelfrsca2
pl___oyy
pl___oyy
Polypolyploy✨
urgen_la
urgen_la
དབུ་རྒྱན་ དཔལ་མོ་
prontogregrey
prontogregrey
Gregrey Pronto
anang_hanang
anang_hanang
Anang Hanang
mamahesiham
mamahesiham
Siham Qaoumi
gurungkajol
gurungkajol
Kajol Gurung
v5_clothing
v5_clothing
Bindiya joshi / V5 clothing
anuskapatil_4511
anuskapatil_4511
Anuska 😍
kala_ghimire56
kala_ghimire56
Kala Ghimire
samjhana_newa_
samjhana_newa_
Samu❤️
urvashirautela
urvashirautela
URVASHI RAUTELA
its_punm1122
its_punm1122
(its punam🥰
tamba8505
tamba8505
Tam BA
komal.pandey_97
komal.pandey_97
Komal Pandey
po_nazry
po_nazry
P Õ Nazry
__ritika_khadka
__ritika_khadka
Ritika Khadka
tamong.an
tamong.an
Anju Tamong
arsenal
arsenal
Arsenal
krishna7842
krishna7842
🇳🇵kanha💖singh🇳🇵
mizukibaku
mizukibaku
Mizuki Baku
pratika_u29
pratika_u29
Pratika
maheshking4291
maheshking4291
Mahesh King
bollywoodmasala_ig
bollywoodmasala_ig
Bollywood Masala
_rupakarki
_rupakarki
Rupa Karki
ipseeta_duarah_official
ipseeta_duarah_official
Ipseeta🦋
aey_jitladaa
aey_jitladaa
Aeey Jitlada
karishma_manandhar
karishma_manandhar
Karishma Manandhar
ranjeethapa
ranjeethapa
Ranjee Thapa Hamal
tamangtrishala
tamangtrishala
Trishala Tamang _Official_
rechargefitnessktm
rechargefitnessktm
Recharge Fitness
priyanath729
priyanath729
Priya Nath
prabhudarshankarlo
prabhudarshankarlo
Prabhu Darshan
rikishagurung
rikishagurung
Rikisha gurung55
ghimirekunjana
ghimirekunjana
Ghimire Kunjana
nosepinhouse1
nosepinhouse1
Nose Pin House
_priyarai_2002
_priyarai_2002
Priyu💐
pakao_oronao
pakao_oronao
Eliandra Oro Nao’🦇
kreetikaaaa___
kreetikaaaa___
Kittu❤️
elletmedo
elletmedo
Kayang Medo
asmita_thapaaaa
asmita_thapaaaa
Asmita Thapa
masajes_completos.laura
masajes_completos.laura
Laura Brez
sarine2295_meaningprincess
sarine2295_meaningprincess
Sarina Gurung
nimita.sapkota
nimita.sapkota
Nimita
anu_roka1
anu_roka1
Anu Roka
mary_soleil_90
mary_soleil_90
Marianna Rondinone (Mary Soleil)
rinkey__lise
rinkey__lise
Jowa Yangkey
pranita_pradhan__
pranita_pradhan__
❥Pranita Pradhan❥
sushilabista6
sushilabista6
sushilabista
isha.manger
isha.manger
Isha Rana Manger
_vishakha_thapa_
_vishakha_thapa_
vishnu.paudel.5
vishnu.paudel.5
Vishnu Paudel
chhewa_dongba
chhewa_dongba
Chhewa Dongba
rairaisabin
rairaisabin
Rai Sabin
sri_jana_adhikari
sri_jana_adhikari
Shri Jana Adhikari
anjali_chettri123
anjali_chettri123
Anjali Chettri
karleigh_guti
karleigh_guti
ᴛʀᴀᴠᴇʟ | 𝐿𝒾𝒻𝑒𝓈𝓉𝓎𝓁𝑒
lamineyamalofficial19
lamineyamalofficial19
Lamine Yamal Fan Page
rameshshrestha480433
rameshshrestha480433
Ramesh Shrestha
borasaha_borah__15
borasaha_borah__15
Nitu___princess 💖
nikkidhankhar1
nikkidhankhar1
Nikki Dhankhar
90sq.ueenkarishmakapoor
90sq.ueenkarishmakapoor
Sapna
a_ng3l__
a_ng3l__
pran_itaroy
pran_itaroy
Pranita Ray
queen_ranjana3195
queen_ranjana3195
queen 👑
lakshmangupta1686
lakshmangupta1686
Gupta Lakshman
sital_shrestha
sital_shrestha
Sital Shrestha
nangcherry589
nangcherry589
Nang Cherry
tika_gaha32
tika_gaha32
Tika Gaha Magar
bina_biswokarma
bina_biswokarma
Bina Bishwokarma official
indu.dhungel
indu.dhungel
Indu Dhungel
sakxi.chhetri.9
sakxi.chhetri.9
Sakshi Chhetri
nadoorimm
nadoorimm
Puja Rana
_tanuu.bhosale
_tanuu.bhosale
Tanu 🧚🏻‍♀️
arati_bantawa_rai
arati_bantawa_rai
Unnati 🤗
urmila__mili
urmila__mili
Erica Mili
natasha.muthuarachchi
natasha.muthuarachchi
𝗡𝗔𝗧𝗔𝗦𝗛𝗔 🌙
sangso_langnepi
sangso_langnepi
Sang-ET langnepi
mrs_magarni44
mrs_magarni44
Ushmita S Magar
bhagwotidahal11
bhagwotidahal11
Bhagawoti Dahal
bibekrai217
bibekrai217
Bî B Êk
khusbuborah
khusbuborah
Khusi Borah
saowalaksaifak
saowalaksaifak
Anter Society
anita_younjan31
anita_younjan31
Aɴɪᴛᴀ Yᴏᴜɴᴊᴀɴ 💎🍀
saran_ram1329
saran_ram1329
R..K
its__me__shaista__danu
its__me__shaista__danu
its me shaista
surajbasnet928
surajbasnet928
Suraj Basnet
jenniechedaofficial
jenniechedaofficial
Pretty💋
dahal.anu
dahal.anu
Anu Dahal
girl1236822
girl1236822
good girl123
moon_yong3
moon_yong3
Oliviya Moon
sharmilamgr25
sharmilamgr25
Sharmila Magar
sukriti.paudel.10
sukriti.paudel.10
Sukriti Paudel
viral_paps
viral_paps
Viral Paps
lama.pasang
lama.pasang
Pasang Norbu Lama
ruby.ranashah
ruby.ranashah
Ruby Rana Shah
anushikasingh115
anushikasingh115
अनुसिका सिङ ठकुरि
sonamkapoor
sonamkapoor
Sonam A Kapoor
onlinekhabarofficial
onlinekhabarofficial
OnlineKhabar
leomessi
leomessi
Leo Messi
mohangc3official
mohangc3official
Mohan Mina Gc
rozbaku2
rozbaku2
Roza Hesenova
kanchhi__gurung
kanchhi__gurung
Kanchhi Gurung
asha__sth
asha__sth
आशा श्रेष्ठ
vihangi_anjalee
vihangi_anjalee
ᴠɪʜᴀɴɢɪ ᴀɴᴊᴀʟᴇᴇ
kanchan_syangtan
kanchan_syangtan
Kanchan syangtan
saloni_sharma86
saloni_sharma86
SALONI
salinasubba71
salinasubba71
salinasubba
spandan_kc2000
spandan_kc2000
Spandan Kc
niranjalitamang
niranjalitamang
Niranjali Lama
dhan_maya_magar
dhan_maya_magar
magarnii83
reina.insta
reina.insta
Reina Sakai
mamta_tomar_83
mamta_tomar_83
Mamta Tomar
niha_brahma
niha_brahma
niha brahma
sanjit_khasa
sanjit_khasa
Sanjit Khasa
anjana.shrestha.3344913
anjana.shrestha.3344913
Anjana Shrestha
biaknunsangi_
biaknunsangi_
Biaknunsangi Khawlhring
joworo_project
joworo_project
joworo_project
shniha_thapa_
shniha_thapa_
₴ⱨ₦łⱨ₳
hii_saruuu
hii_saruuu
Saru Khadka
empee_sailo9
empee_sailo9
MuanPuii Sailo
celestefrenais
celestefrenais
Celeste Frenais
rachy9079
rachy9079
Pretty Rachy
rajandubey753
rajandubey753
Rajan Dubey
nukgrissle
nukgrissle
Charles Lowery Jr
peemugurung
peemugurung
Peemu Grg
_swadhin.07
_swadhin.07
Swadhina Joshi Newar
gumku_
gumku_
earnwithgumku
raksha_chamling
raksha_chamling
💫miss rai ...
bishaltmg224
bishaltmg224
Bishal Tmg
ni_tee_bongzzha_
ni_tee_bongzzha_
Niti Bongzzha
neelu_ayer
neelu_ayer
Nirmala Ayer
blade_woman_midnight_rider_



</div></div></div></span>
                
                
            </div>

            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

            



            
   

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}
